/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/bin/
/composer.phar
/vendor/
/web/bundles/
.idea/
composer.lock
src/AppBundle/Entity/Category.php~
src/AppBundle/Entity/Product.php~
src/AppBundle/Entity/User.php~
