{% extends "AppBundle::appBase.html.twig" %}
{% block title %}AppBundle:Lucky:number{% endblock %}
{% block template %}{{ parent() }} -> AppBundle:Lucky:index.html.twig{% endblock %}

{% block content %}

    <ul id="navigation">
        {% for link in links %}
            <li><a href="{{ link.href }}">{{ link.text | raw}}</a></li>
        {% endfor %}
    </ul>

{% endblock %}
