{% extends "AppBundle::appBase.html.twig" %}
{% block title %}AppBundle:Lucky:number{% endblock %}
{% block template %}{{ parent() }} -> AppBundle:Lucky:index.html.twig{% endblock %}

{% block content %}
<h1>Welcome to the Lucky number page</h1>

<p>number is {{ number }}</p>
{% endblock %}
